<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.projetoic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.TelaPerfilIActivity"></activity>
        <activity android:name=".activity.TelaPerfilCActivity" />
        <activity android:name=".activity.TelaPerfilLActivity" />
        <activity android:name=".activity.TelaTrianguloRetanguloActivity" />
        <activity android:name=".activity.TelaTrianguloEquilateroActivity" />
        <activity android:name=".activity.TelaQuadranteActivity" />
        <activity android:name=".activity.TelaSemicirculoActivity" />
        <activity android:name=".activity.TresQuartosCirculoActivity" />
        <activity android:name=".activity.TelaCirculoVazadoActivity" />
        <activity android:name=".activity.TelaCirculoActivity" />
        <activity android:name=".activity.TelaRetanguloVazadoActivity" />
        <activity android:name=".activity.TelaRetanguloActivity" />
        <activity android:name=".activity.TelaQuadradoVazadoActivity" />
        <activity android:name=".activity.SobreActivity" />
        <activity android:name=".activity.TelaQuadradoActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>